<h1>List</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |invitation|}}
    <tr>
      <th>{{invitation.id}}</th>
      <td>{{invitation.email}}</td>
      <td>
        <div class="input-group">
          <select class="form-control" id="input-status" onchange={{action "setSelection" value="target.value"}}>
            <option disabled selected>Pending</option>
            <option value="1">Accept</option>
            <option value="0">Reject</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" {{action "setInvitationStatus" invitation.id}}>Submit</button>
          </span>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>