<h1>Invitations</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'admin.invitations.index' tagName="li"}}<a href="">List All</a>{{/link-to}}
    {{#link-to 'admin.invitations.pending' tagName="li"}}<a href="">List Pending</a>{{/link-to}}
  </ul>
</div>

{{outlet}}